*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(232, 234, 234);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background:linear-gradient(to right,red,yellow);
    text-align: center;
    padding: 30px 20px;
    margin: 10px;
    border-radius: 20px;
}
header h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
}
header p{
    color: white;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;

}
.menu{
    padding: 40px 20px;
    text-align: center;
}
.menu h2{
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 30px;

}
.menu-grid{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;

}
.menu-item{
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
    padding-bottom: 20px;
    overflow: hidden;
}
.menu-item img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.menu-item h3{
    color: brown;
    margin: 10px;
    font-size: 1.4em;
    
}
.menu-item p{
    font-size: 1em;
    color: rgb(215, 165, 165);
}
.love{
    color: brown;
    margin: 10px 0px;
    font-size: 1.2em;
    display: block;
    font-weight: bold;
}
.lot{
    background:linear-gradient( to right,yellow,red);
    color: aliceblue;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 10px;
    text-decoration: none;
}
.cup{
    padding: 50px 30px;
    text-align: center;
    background:linear-gradient(to right,yellow,red);
    margin-top: 20px;
    
}
.cup h2{
    margin-bottom: 10px;
}
.cup p{
    margin-bottom: 30px;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.cup button{
    padding: 12px;
    background-color: blue;
    color: aliceblue;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}